:root {
  --color-primary: #ffffff;
  --color-secondary: #f0f0f0;
  --color-accent: #333333;
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --img-width: 100px;
  --img-height: 100px;
}
@font-face {
  font-family: 'Roboto'; /* El nombre que usarás en tu app */
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'); /* Ruta al archivo */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
input,
button,
select,
label {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--color-primary);
  color: var(--color-accent);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--color-primary);
  color: var(--color-accent);
}
html.daltonism {
  filter: grayscale(100%) contrast(1.1);
}

/* Ejemplo: logo en el header */
header img.logo {
  width: var(--img-width);
  height: var(--img-height);
}
table.dataTable {
  background: var(--color-primary);
  color: var(--color-accent);
  font-family: var(--font-family);
  font-size: var(--font-size);
  border: 1px solid var(--color-accent);
}

table.dataTable thead {
  background: var(--color-secondary);
  color: var(--color-accent);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--color-accent) !important;
}
